vendor/
/build/logs
node_modules/
/build/coverage
/app/tests/_log
composer.phar
/.idea
/_ide_helper.php
/app/config/packages
/public/packages

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
bootstrap/cache/
.env.*.php
.env.php
.env

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/
